<style>
    .report {
        font-family: Courier New, Courier, monospace;
        margin-left: 20px;
        margin-right: 20px;
    }

    h2,
    h3 {
        background-color: lightgray;
        padding: 5px;
        border-radius: 4px;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    }

    h4 {
        margin-bottom: 4px;
        font-size: larger;
    }

    .ess-tables {
        width: 95%;
        margin-left: 20px;
    }

    .table-header:hover {
        cursor: pointer;
    }

    table,
    th,
    td {
        border: 1px solid gray;
        border-collapse: collapse;
        padding: 3px;
    }

    .table {
        color: darkorange;
        font-weight: bold;
    }

    .field {
        color: darkblue;
        font-weight: bold;
    }

    .value {
        color: darkgreen;
        font-weight: bold;
    }

    .highlight {
        background-color: #f2fcd6;
        padding: 0 2px;
        border-radius: 3px;
        border-bottom: 1px solid gray;
    }

    li {
        list-style: disc;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    #back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px;
        margin: 10px;
        background-color: rgba(250, 250, 250, 0.7);
        border-radius: 5px;
    }

    .tab {
        display: inline-block;
        margin-left: 40px;
    }
</style>

{% macro iterate_errors(n) -%}
{% for k,v in val.items() if k.startswith(n) %}
{% if v|length > 3 %}
<h4><a name={{ v[2] }}></a>{{ v[1] }}</h4>
{% if v[1] == "Topology errors" %}
<i>Note that the map boundary gives an unavoidable 'Must Not Have Gaps' polygon error although errors marked as
    exceptions in an existing topology are ignored by this report. Other errors should be
    fixed. Level 2 errors are also Level 3 errors. </i><br><br>
{% endif %}
{% for error in v[3:] %}
{{ error }}<br>
{% endfor %}
{% endif %}
{% endfor %}
{%- endmacro %}

<h2><a name="overview">{{ val["errors_name"] }} </a></h2>
<div class="report">Database path: {{ val["gdb_path"]}}<br>
    This file written by <i>{{ val["version_string"] }} </i><br>
    {{ val["datetime"] }}<br><br>
    DO NOT RENAME THIS FILE. IT MUST RESIDE IN THE SAME FOLDER AS {{val["report_name"]}}<br>
</div>
<div id="back-to-top"><a href="#overview">Back to Top</a></div>
<div class="report">
    <h4>Color Codes</h4>
    <span class="table">Orange</span> are tables, feature classes, or feature datasets in the geodatabase<br>
    <span class="field">Blue</span> are fields in a table</br>
    <span class="value">Green</span> are values in a field</br>
</div>
<h3>Level 2 errors</h3>
<div class="report">
    {{ iterate_errors("rule2") }}
</div>
<h3>Level 3 errors</h3>
<div class="report">
    {{ iterate_errors("rule3") }}
</div>
{% if val["sr_warnings"]|length > 1
or val["end_spaces"]|length > 1
or val["fld_warnings"]|length > 1
or val["hkey_warnings"]|length > 1
or val["term_warnings"]|length > 1
or val["mu_warnings"]|length > 1
or val["missing_warnings"]|length > 1
or val["et_warnings"]|length > 0
%}
<h3><a name="Warnings">Warnings</a></h3>
<div class="report">
    {% for n in (
    "sr_warnings",
    "end_spaces",
    "fld_warnings",
    "hkey_warnings",
    "term_warnings",
    "mu_warnings",
    "et_warnings",
    "missing_warnings"
    ) %}
    {% if val[n]|length > 1 %}
    <h4>{{ val[n][0] }}</h4>
    {% for warning in val[n][1:] %}
    {{warning}}<br>
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% endif %}
</div>